.todo {
  display: flex;
  flex: 1 0 100%;
  justify-content: space-between;

  .todo__header-wrapper {
    flex: 1 0 50%;
    padding-right: 30px;
  }

  .todo__priority-wrapper {
    flex: 1 0 50%;
    padding-left: 30px;
  }
}
