.container {
  display: flex;
  flex: 0 1 80%;
  padding-left: 30px;
  padding-right: 30px;

  .row {
    display: flex;
    flex: 1 1 100%;
  }
}

.button-overlay--wrapper {
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-end;
  padding-left: 30px;
  padding-right: 30px;
}
